
<Section class="Section-Page">
 <app-nav-pag class="Nav-Pag"></app-nav-pag>
 <section class="Section-Body-Page">
    <div class="div-info">
      <div class="div-container">
        <div class="div-photo">
          <div class="site-photo">
            <img src="assets/photo.jpg" alt="">
          </div>
        </div>
        <div class="div-site-info-social-cv">
          <div class="site-info-social-cv">
            <div class="my-name">
              <h2>FreddyAngelCodeDev</h2>
            </div>
            <div class="social-red">
              <ul class="lista-social">
                <a href="https://twitter.com/FreddyAngelOfcl" class="link-social"><img src="assets/twitter.png" alt="" class="icon-social"></a>
                <a href="https://github.com/FreddyAngelCodeDev" class="link-social"><img src="assets/github.png" alt="" class="icon-social"></a>
                <a href="https://www.linkedin.com/in/andrierber-freddyangel-leal-2325a0274" class="link-social"><img src="assets/linkedin.png" alt="" class="icon-social"></a>
                <a href="https://www.instagram.com/freddy_angel_oficial" class="link-social"><img src="assets/instagram.png" alt="" class="icon-social"></a>
              </ul>
            </div>
            <div class="download-cv-contactMe">

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="div-pag">
      <router-outlet></router-outlet>
    </div>
  </section>
</Section>

