<nav class="Nav-Page">
  <div class="div-icon">
    <span class="material-symbols-sharp">code</span>
  </div>
  <div class="div-nav-pag">
    <div class="div-button">
      <button class="Style-button" routerLink="">Acerca De Mi</button>
    </div >
    <hr>
    <div class="div-button">
      <button class="Style-button" routerLink="Courses">Cursos</button>
    </div>
    <hr>
    <div class="div-button">
      <button class="Style-button" routerLink="Proyects">Mis Proyectos</button>
    </div>
    <hr>
    <div class="div-button">
      <button class="Style-button" routerLink="/Skills">Mis Habilidades</button>
    </div>
  </div>
</nav>
